#Dont delete this file 

*.user
build-Basketball-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
build-Basketball-Desktop_Qt_5_13_0_MinGW_32_bit-Debug/
build-Basketball-Desktop_Qt_5_13_1_MinGW_32_bit-Debug/
Basketball/Basketball.pro.user.1c5705d
CS1D-Basketball-master/Basketball/Basketball.pro.user.07ec037
CS1D-Basketball-master/Basketball/Basketball.pro.user
CS1D-Basketball-master/Basketball/Basketball.pro.user
